$icomoon-font-path: "fonts" !default;

$icon-icon-user: "\e900";
$icon-icon-health: "\e901";
$icon-icon-camera: "\e902";
$icon-icon-plus: "\e903";
$icon-icon-food: "\e904";
$icon-icon-mic2: "\e905";
$icon-icon-sport: "\e906";
$icon-icon-xiaozhi: "\e907";

