.dialog-container {
    .mint-header {
        background-color: #fff;
        color: #000;
        border-bottom:1px solid #B6B6B6;
    }
    .dialog-panel {
        box-sizing: border-box;
        height: 100%;
        padding: 0 0 rem(160px) 0;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        background-color: #F9F9F9;
    }
    .dialog-footer {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        position: absolute;
        z-index: 500;
        bottom: 0;
        height: rem(168px);
        width: 100%;
        background-color: #FFF;
        .mint-actionsheet {
            z-index: 2;
        }
        .more-app-icon {
            float: left;
            @include square(rem(100px), rem(100px));
            @include circle();
            margin: rem(34px) 0 0 rem(20px);
            color: #333;
            z-index: 1;
        }
        .footer-right-input {
            @include column-flex();
            justify-content: flex-end;
        }
        .footer-right {
            position: absolute;
            height: 100%;
            width: 100%;
            .user-account-icon {
                float: right;
                margin: rem(38px) rem(20px) 0 0;
                font-size: rem(95px);
            }
            .speech-or-input-big,
            .speech-or-input-small {
                @include circle();
            }
            .speech-or-input-big {
                @include square(rem(140px), rem(90px));
                position: absolute;
                left: 50%;
                top: rem(14px);
                margin-left: rem(-70px);
                background-color:  #FFDA30;
            }
            .speech-or-input-small {
                @include square(rem(78px), rem(44px));
                margin: 0 rem(20px);
                border: rem(1px) solid #000;
            }
            .input-text-wrapper,
            .speech-or-input-small,
            .send-btn {
                display: inline-block;
                margin-top: rem(35px);
            }
            .input-text-wrapper {
                flex: 2;
                margin-left: rem(120px);
                .input-text {
                    box-sizing: border-box;
                    @include square(rem(80px), rem(40px), 100%);
                    @include circle(0);
                    text-align: left;
                    padding: 0 rem(20px);
                    border: none;
                    border-bottom: 1px solid #FFDA30;
                    outline:none;
                }
            }
            .send-btn {
                @include square(rem(80px), rem(34px), rem(125px));
                @include circle(2px);
                margin: rem(38px) rem(20px) 0 0;
                color: #000;
                text-decoration: none;
                background-color: #FFDA30;
            }
        }
        .more-app-container {
            @include column-flex();
            justify-content: space-around;
            align-items: center;
            height: rem(280px);
            width: 100%;
            position: absolute;
            top: rem(-280px);
            border-top: 1px solid #b6b6b6;
            color: #4a4a4a;
            background-color: #FFF;
            &-app {
                position: relative;
                &-imgbox {
                    @include square(rem(152px), rem(90px), rem(152px));
                    @include circle(16px);
                    border: 1px solid #979797;
                    background-color: #F7F7F6;
                    color: #000;
                }
                &-text {
                    text-align: center;
                    line-height: rem(34px);
                    color: #4A4A4A;
                }
                &-input {
                    position: absolute;
                    height: 100%;
                    width: rem(130px);
                    top: 0;
                    left: 0;
                }
            }
        }
    }
    .delete-button,
    .return-button,
    #selfInfo-test {
        @include square(rem(60px), rem(30px));
        background-color: #000;
        opacity: 0.6;
        color: #fff;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
    }
    .return-button {
        position: absolute;
        @include square(rem(100px));
        left: 0;
        opacity: 0;
    }
    #selfInfo-test {
        position: absolute;
        left: rem(50px);
        top: rem(840px);
        @include square(rem(180px));
        opacity: 0;
    }
    .guide-img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 10000;
    }
    .guide-mask,
    .white-mask {
        height: 100%;
        width: 100%;
        background-color: #000;
        opacity: 0.7;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 9999;
    }
    .white-mask {
        background-color: #FFF;
        z-index: 9998;
        opacity: 1;
    }
    .audio-active {
        position: absolute;
        height: 100%;
        width: 100%;
        .guide-mask {
            z-index: 1;
        }
        .audio-box {
            @include square(rem(400px));
            @include circle(16px);
            position: absolute;
            left: 50%;
            margin-left: rem(-200px);
            z-index: 2;
            background-color: #FFF;
            top: 50%;
            margin-top: rem(-240px);
            img {
                @include square(rem(282px));
                margin-top: rem(68px);
            }
        }
    }
}
.selfInfo-page {
    padding: 0;
    width: 100%;
    img {width: 100%;}
}

